h1.header {
  font-size: 35px;
  font-weight: bold;
}

.with-caption {
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.jokes {
  .setup {
    margin: 20px 0 5px 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  .punchline {
    margin: 0 0 20px 0;
    font-weight: bold;
    display: none;
  }
  .revealer {
    margin-bottom: 4px;
  }
  p {
    margin: 0 0 0 0;
  }
}

.scripture {
  font-family: serif;
  font-size: large;
  font-style: italic;
  text-align: center;
  margin: 0 0 0 0;

  + .citation {
    font-style: normal;
  }
  + .citation:before {
    content: "—"
  }
}

.current {
  font-weight: bolder;
  margin: 0 0 0 0;
}
